body {
	background-color: #000080;
	margin: 0px;
}

h1 {
	color: #ffffff;
	margin: 0px;
	background-color: #0000ff;
	font-style: italic;
}

p {
	color: #ffffff;
	margin: 0px;
}

a {
	color: #ffff00;
	margin: 0px;
}

div {
	background-color: #c0c0c0;
}

canvas {
	width: 640;
	image-rendering: pixelated;
}
