@font-face {
	font-family: 'custom';
	src: url('font/w95fa.woff2');
}

* {
	margin: auto;
	font-family: 'custom';
}

p { text-align: left; }

canvas { image-rendering: pixelated; }

body {
	background: url('image/background/r6.gif');
	text-align: center;
	width: 800px;
}

#right {
	text-align: left;
	margin-top: auto;
	width: 160px;
	height: 430px;
	float: right;
}

#center {
	width: 560px;
	height: 430px;
}

.section {
	margin: 16px;
	padding: 8px;
	background-color: lightgrey;
	outline: groove;
}

.covid { color: red; }