body {
	margin: auto;
	background-color: #000080;
}

h1 {
	margin: auto;
	text-align: center;
	color: #ffffff;
	background-color: #0000ff;
	font-style: italic;
}

p {
	margin: auto;
	color: #ffffff;
}

a {
	margin: auto;
	color: #ffff00;
}

img {
	margin: auto;
	display: block;
}

div {
	margin: auto;
	background-color: #c0c0c0;
	width: 512;
	height: 1024;
}

canvas {
	margin: auto;
	display: block;
	image-rendering: pixelated;
}
