html {
    background-color: #002040;
}

body {
    background-color: #001020;
    margin: auto;
    width: 640;
}

p {
    color: #ffffff;
}

input {
    background-color: black;
    color: #ffffff;
}

canvas {
    background-color: #ffffff;
    image-rendering: pixelated;
    width: inherit;
}
