* {
	margin: auto;
	image-rendering: pixelated;
	text-rendering: optimizeSpeed;
	text-align: left;
	background-color: #f0bf70;
}

html { background-color: #109040; }
body { width: 600px; }
canvas { width: inherit; }
p { color: #000000; }

input { background-color: #ffffff; }