h1 {
	color: white;
}

a {
	color: red;
}

html {
	background-color: black;
	background-image: url("https://www.animatedimages.org/data/media/90/animated-fire-image-0009.gif");
	background-repeat: repeat;
}

body {
	background-color: black;
	margin: auto;
	width: 50%;
}