* {
	font-size: 4mm;
	image-rendering: pixelated;
	text-rendering: optimizeSpeed;
	margin: auto;
}

html {
	background-color: black;
	justify-content: center;
	background-image: url(anima_blue.gif);
	background-repeat: repeat;
}

body {
	background-color: white;
	width: 210mm;
	height: 297mm;
}

img {
	width: 3cm;
	height: 4cm;
	float: right;
}

.hanko {
	width: 12.5mm;
	height: 12.5mm;
}

header {
	font-weight: bold;
	font-size: 4mm;
}

div {
	padding: 8mm;
	padding-bottom: 2mm;
}

.exp {
	padding: 0;
	margin-left: 6mm;
	margin-bottom: 4mm;
}

.experience {
	display: inline-block;
}

.skills {
	text-align: right;
	float: right;
}

a {
	text-decoration: none;
}