HTML {
	BACKGROUND-COLOR: BLACK;
	DISPLAY: FLEX;
	JUSTIFY-CONTENT: CENTER;
	BACKGROUND-IMAGE: URL(WOOD.JPG);
	BACKGROUND-REPEAT: REPEAT;
}

BODY {
	BACKGROUND-COLOR: WHITE;
	WIDTH: 210MM;
	HEIGHT: 297MM;
	MARGIN: 0;
}

IMG {
	WIDTH: 3CM;
	HEIGHT: 4CM;
}

.MAIN {
	MARGIN: 0MM;
	border: 0.7MM SOLID;
}

@FONT-FACE {
	FONT-FAMILY: as;
	SRC: URL(HelveticaNeueLTPro-BdCn.otf);
}

HEADER {
	FONT-WEIGHT: BOLD;
}

DIV {
	MARGIN: 10MM;
}