@font-face {
	font-family: 'custom';
	src: url('w95fa.woff2');
}

* {
	image-rendering: pixelated;
	margin: auto;
	font-size: 0;
	font-family: 'custom';
	text-align: left;
	white-space: pre-wrap;
	/*cursor: url('windows-98/Cursor79.cur'), auto;*/
}

a { font-size: 16px; }

body {
	background: url('background/r6.gif');
	text-align: center;
	width: 720px;
}

div {
	margin: 10px;
	margin-top: 0;
	padding: 10px;
	background-color: lightgrey;
	outline: groove;
}

#right {
	width: 96px;
	height: 460px;
	float: right;
}

#center {
	width: 554px;
	height: 460px;
}

#favicon {
	width: 32px;
	height: 32px;
}

.covid { color: red; }