/* blocksrey */

/* dec7ad */
/* f0dcc5 */
/* f0a95d */
/* d96d5f */
/* 382724 */
/* 593724 */
/* c30400 */

/* If you're not using woff2, you're bad */
@font-face {
	font-family: oldjap;
	src: url(gotp5.woff2);
}

/* This section pretty much disables ambiguous formatting across browsers */
* {
	color: #dec7ad;
	image-rendering: pixelated;
	text-rendering: optimizeSpeed;
	font-family: oldjap;
	/*cursor: url(windows-98/Cursor79.cur), auto;*/
}

/* Centered background actually isn't correct */
html {
	background: url(background/zwart.jpg);
}

h1, h2 {
	margin: 0;
}

body {
	text-align: center;
	margin: auto;
	width: 660px;
}

/* I'd say this looks pretty good */
a {
	font-weight: bold;
	color: #f0a95d;
}

a:visited {
	color: #d96d5f;
}

div {
	text-align: left;
	margin-bottom: 8px;
	padding: 8px;
	background: url(zstngd_32.gif);
	outline: #382724 solid 2px;
	box-shadow: 0px 12px 32px black;
}

/* Puniko Software License */
embed {
	border-style: solid;
	background-color: #f0dcc5;
}