/* blocksrey */

/* d5e0e6 */
/* bac6cc */
/* dec7ad */
/* f0dcc5 */
/* f0a95d */
/* d96d5f */
/* 382724 */
/* 593724 */
/* c30400 */

body {
	color: #c2c2c2;
	background-color: #000000;
	width: 600px;
}

body, table, div {
	font-size: 12px;
	margin: auto;
}

/* I'd say this looks pretty good */
a {
	font-weight: bold;
	color: #f0a95d;
}

a:visited {
	color: #d96d5f;
}

/* Puniko Software License */
embed {
	border-style: solid;
	background-color: #f0dcc5;
}